/* TODO: find a way to auto-link this from Nix, ideally without needing to write the CSS in Nix. */
@import '/nix/store/abd954n0n5cizpqavscg6f6bpdkc77na-catppuccin-unstable-2023-10-09/waybar/mocha.css';

@define-color primary @peach;

* {
	font-family: 'MonaspiceNe Nerd Font', monospace;
	font-weight: 400;
}

button {
	background-color: transparent;
	color: @text;
}

button:hover {
	background-color: @base;
}

button:active {
	background-color: @crust;
}

/* Style the bar itself, this is the root element */
.bar {
	background-color: @mantle;
	border-bottom: 0.125rem solid @crust;
}

.media .media-icon {
	font-size: 1.25rem;
	margin-right: 0.75rem;
}

.media .media-label {
	font-size: 0.75rem;
}

.media-label .media-title {
	color: @text;
}

.media-label .media-artists {
	color: @overlay1;
}

/* Style the clock display */
.clock {
	background-color: transparent;
	color: @text;
	margin: 0 0.375rem;
	font-size: 1rem;
}

.clock .clock-box:first-child .clock-display {
	margin-right: 0.5rem;
}

.clock .clock-box:last-child .clock-display {
	margin-left: 0.5rem;
}

.clock-display .timezone {
	color: @overlay0;
}

/* Style the volume slider */
.volume {
	margin-right: 0.75rem;
}

.volume > .volume-icon {
	margin-right: 0.5rem;
}

.volume > .volume-slider progress,
highlight {
	background-color: @primary;
	min-height: 0.4rem;
}

.volume > .volume-slider progress,
slider {
	background-color: @primary;
}

/* Style the tray icons */
.tray {
	margin-right: 2rem;
}

/* Notifications window */
window#notifications {
	all: unset;
}

window#notifications box.notifications {
	padding-top: 3rem;
	/* padding-right: 0.75rem; */
}

/* Notification */
.notification {
	min-width: 350px;
	background-color: @mantle;
	border: 1px solid @surface0;
	border-radius: 0.75rem;
	padding: 1rem;
	/* margin: 0.5rem; */
}

/* Additional styling on critical notifications */
.notification.critical {
	border: 1px solid @primary;
}

.notification .icon {
	/*min-width: 68px;
	min-height: 68px;*/
	margin-right: 0.75rem;
}

.notification .icon box {
	/*min-width: 68px;
	min-height: 68px;*/
	border-radius: 0.5rem;
}

.notification .icon image {
	font-size: 2rem;
	color: @overlay1;
}

.notification .title {
	color: @text;
	font-size: 1rem;
	margin-bottom: 0.25rem;
}

.notification .body {
	color: @overlay1;
	font-size: 0.875rem;
}

.notification .actions .action-button {
	margin: 0 0.4rem;
	margin-top: 0.8rem;
}

.notification .actions .action-button:first-child {
	margin-left: 0;
}

.notification .actions .action-button:last-child {
	margin-right: 0;
}
