#------------------#
# IDEs and Editors #
#------------------#

# JetBrains
.fleet
.idea
*.iml
*.ipr
*.iws

# Visual Studio Code
.vscode

# Sublime Text
*.sublime-*

#-------------------#
# Operating Systems #
#-------------------#

# External Drives
.Spotlight-V100
.Trashes

# Linux
*~

# Mac OS
/.DS_Store
*.DS_Store

# VIM
.*.sw[a-p]

#-------------------#
#   Project Files   #
#-------------------#

.direnv
result*
