.volume {
	margin-right: 0.75rem;
}

.volume > .volume-icon {
	margin-right: 0.5rem;
}

.volume > .volume-slider progress,
highlight {
	background: $primary;
	min-height: 0.4rem;
}

.volume > .volume-slider progress,
slider {
	background: $primary;
}
