// Sourced from https://github.com/catppuccin/palette
//
// The contents of this file are covered by the MIT license,
// see catppuccin.LICENSE for more details.
//
// This file is copied into our repository due to the way
// we compile SCSS and not having access to any node_modules.

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

// END Catppuccin

$primary: $peach;

* {
	font-family: 'MonaspiceNe Nerd Font', monospace;
	font-weight: 400;
}

window.bar {
	background: $mantle;
	border: none;
	color: $text;

	button {
		background: transparent;
		border: none;
		box-shadow: none;
		outline: none;
		color: $text;

		&:hover {
			background: $base;
		}

		&:active {
			background: $crust;
		}
	}
}

.battery {
	margin-left: 1rem;
	margin-right: 1rem;

	& label {
		padding-left: 0;
		margin-left: 0.5rem;
	}
}

.clock {
	background: transparent;
	color: $text;
	margin: 0 0.375rem;
	font-size: 1rem;

	> .time-display {
		&:first-child {
			margin-right: 0.5rem;
		}

		&:last-child {
			margin-left: 0.5rem;
		}

		/* > .time {

		} */

		> .timezone {
			color: $overlay0;
		}
	}
}

.workspaces {
	> button.workspace {
		all: unset;
		padding: unset;
		border: unset;

		min-width: 36px;
		min-height: 36px;

		transition:
			250ms background,
			250ms border-radius;

		> .circle {
			color: $surface2;
			transition: 250ms color;

			&.empty {
				color: $surface0;
			}

			&.focused {
				color: $primary;
			}
		}
	}
}

.systray {
	margin-right: 1rem;
}

.volume {
	margin-right: 1rem;

	.volume-slider {
		min-width: 8rem;
		/* margin-right: 1rem; */

		highlight {
			background-color: $primary;
			min-height: 0.75rem;
			border-radius: 1.5rem;
		}

		trough {
			background-color: $surface2;
			border-radius: 0.75rem;
		}
	}
}

button.media {
	margin-right: 1rem;

	.media-icon {
		font-size: 1.25rem;
		margin-right: 1rem;
	}

	.media-label {
		font-size: 0.75rem;

		// Change the color when nothing is playing.
		& label.nothing {
			color: $overlay2;
		}

		& label.media-title {
			color: $text;
		}

		& label.media-artists {
			color: $overlay1;
		}
	}
}

window.launcher {
	all: unset;

	box.launcher {
		background: $mantle;
		border-radius: 0.75rem;
		margin: 1rem;
		padding: 0.8rem;

		entry {
			background: $base;
			border: 2px solid $surface0;
			color: $text;
			margin-bottom: 0.8rem;
			outline: none;
		}

		button.app {
			background: $surface0;
			border: none;
			outline: none;
			min-width: 0;
			min-height: 0;
			padding: 0.5rem;

			image {
				margin-right: 0.5rem;
			}

			label.name {
				color: $text;
				font-weight: 600;
				font-size: 1rem;
			}

			label.description {
				color: $subtext0;
				font-size: 0.75rem;
			}

			&:focus {
				box-shadow: 0 0 0 1px $primary;
			}
		}

		box.not-found {
			padding: 1rem;

			image {
				font-size: 6em;
			}

			label {
				font-size: 1.2em;
			}
		}
	}
}

window.notifications {
	all: unset;
}

box.notification {
	&:first-child > box {
		margin-top: 1rem;
	}

	&:last-child > box {
		margin-bottom: 1rem;
	}

	// eventboxes can not take margins so we style its inner box instead
	> box {
		min-width: 400px;
		border-radius: 13px;
		background-color: $mantle;
		margin: 0.5rem 1rem 0.5rem 1rem;
		/* box-shadow: 2px 3px 8px 0 gtkalpha(black, 0.4); */
		border: 1pt solid $base;
	}

	&.critical > box {
		border: 1pt solid $red; // gtkalpha($error, .4)

		.header {
			.app-name {
				color: $red; // gtkalpha($error, .8)
			}

			.app-icon {
				color: $red; // gtkalpha($error, .6)
			}
		}
	}

	.header {
		padding: 0.5rem;
		color: $text;

		.app-icon {
			margin: 0 0.4rem;
		}

		.app-name {
			margin-right: 0.3rem;
			font-weight: bold;

			&:first-child {
				margin-left: 0.4rem;
			}
		}

		.time {
			margin: 0 0.4rem;
		}

		button {
			padding: 0.2rem;
			min-width: 0;
			min-height: 0;
		}
	}

	separator {
		margin: 0 0.4rem;
		background-color: $surface0;
	}

	.content {
		margin: 1rem;
		margin-top: 0.5rem;

		.summary {
			font-size: 1.2em;
			color: $text;
		}

		.body {
			color: $subtext1;
		}

		.image {
			/* border: 1px solid gtkalpha($fg-color, 0.02); */
			margin-right: 0.5rem;
			border-radius: 9px;
			min-width: 100px;
			min-height: 100px;
			background-size: cover;
			background-position: center;
		}
	}

	.actions {
		margin: 1rem;
		margin-top: 0;

		button {
			margin: 0 0.3rem;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	button {
		background: $base;
		border: none;
		box-shadow: none;
		outline: none;
		color: $text;

		&:hover {
			background: $surface0;
		}

		&:active {
			background: $crust;
		}
	}
}
