@import './style/mocha';

$primary: $peach;

@import './components/clock/index';
@import './components/media/index';
@import './components/notifications/index';
@import './components/systray/index';
@import './components/volume/index';

* {
	font-family: 'MonaspiceNe Nerd Font', monospace;
	font-weight: 400;
}

button {
	background: transparent;
	color: $text;
}

button:hover {
	background: $base;
}

button:active {
	background: $crust;
}

// Style the bar itself, this is the root element
.bar {
	background: $mantle;
	border-bottom: 0.125rem solid $crust;
}
